.cart-info{
    margin-left: 23px;
    margin-right: 23px;
}

.cart-info img{
    width: 100px;
    margin-top: 20px;
    border-radius: 45%;
    margin-left: 30%;
}

.cart-info h3{
    text-align: center;
}

.cart-info h5{
    text-align: center;
    margin-top: 0%;
}

.workout-details{
    background-color: rgb(178, 255, 231);
    padding: 20px;
    box-sizing: 10px;
    margin-top: 5px;
}

.break-time{
    background-color: rgb(178, 255, 231);
    padding: 10px;
    box-sizing: 10px;
    margin-top: 5px;
}

.toasty{
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    margin-top: 45px;
    margin-left: 25%;
}