
.cart-info img{
    width: 50%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    clip-path: circle();
}

.cart-info h3{
    text-align: center;
}

.cart-info h4{
    text-align: center;
    margin-top: 0%;
    color: gray;
}

.workout-details{
    background-color: #F6F1F1;
    padding: 20px;
    box-sizing: 10px;
    margin-top: 2%;

}

.break-time{
    background-color: #F6F1F1;
    padding: 10px;
    box-sizing: 10px;
    margin-top: 5px;
}

.toasty{
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}