.container{
    position: relative;
    Width:100%;
    Height:100%;
    border: 1px solid #a5a6a6;
    background-color: #F6F1F1;
    border-radius: 10px;
}

.container img{
    Width:100%;
    Height:50%;
    border-radius: 8px;
}

.container .name{
    text-align: center;
}

.container .time-set {
    display: block;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.btn-cart{
    background:  #19A7CE;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    border: none;
    width: 100%;
    position: absolute;
    bottom: 0%;
}

.btn-cart:hover{
    background-color:  rgb(63, 207, 255);
    cursor: pointer;
}

.question-part{
    border: 2px solid black;
}