.fitness-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.fitness-style{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-bottom: 100px;
}

.fitness-cart{
    background-color: rgb(223, 241, 247) ;
    width: 264px;
    height: 944px;
    position: sticky;
    top: 0%;
    margin-right: 10px;
}

@media screen and (max-width: 480px) {
    .fitness-style{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1510px) {
    .fitness-style{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}