.fitness-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.fitness-style{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2%;
    column-gap: 5%;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.fitness-cart{
    background-color: #19A7CE ;
    width: 100%;
    height: 70%;
    position: sticky;
    top: 0%;
    border-radius: 8px;
}

@media screen and (max-width: 850px) {
    .fitness-style{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .fitness-container{
        display: grid;
        grid-template-columns: 2fr 0fr;
    }
}

@media screen and (max-width: 1510px) {
    .fitness-style{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}